<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">


    <!-- broker -->
    <bean id="commonFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL"
                  value="failover://(${amq.broker.address})?randomize=false&amp;jms.useAsyncSend=true&amp;jms.prefetchPolicy.queuePrefetch=1">
        </property>
    </bean>

    <!-- consumer -->
    <bean id="jmsConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="commonFactory"/>
    </bean>

    <!-- consumer2 -->
    <bean id="jmsPayConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="commonFactory"/>
    </bean>

    <!-- send -->
    <bean id="poolSendConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="commonFactory"/>
        <property name="maximumActiveSessionPerConnection" value="1"/>
    </bean>

    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="poolSendConnectionFactory"/>
        <property name="defaultDestinationName" value="subject"/>
        <property name="deliveryPersistent" value="true"/>
        <property name="receiveTimeout" value="0"/>
        <property name="pubSubDomain" value="false"/>
        <property name="sessionAcknowledgeMode" value="1"/>
        <property name="explicitQosEnabled" value="true"/>
        <property name="timeToLive" value="604800000"/>
    </bean>

    <!--增加前置扣费的消费者-->
    <bean id="testConsumer" class="cn.tonghao.remex.business.test.TestJMSConsumer"/>

    <jms:listener-container connection-factory="jmsPayConnectionFactory" destination-type="queue" concurrency="6-20">
        <!--增加前置扣费的消费者-->
        <jms:listener destination="${queue.remex.test.task}" ref="testConsumer" method="onMessage" />
    </jms:listener-container>


</beans>