<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

    <context:component-scan base-package="cn.tonghao.remex">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>

    <context:component-scan base-package="cn.tonghao.remex.controller.pay.api"/>

    <aop:aspectj-autoproxy proxy-target-class="true" />

    <!-- 配置 JSR303 Bean Validator 定义 -->
    <bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean"/>

    <!--spring异常处理器-->
    <bean class="cn.tonghao.remex.common.handle.GlobalExceptionHandler"/>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="${web.view.prefix}"/>
        <property name="suffix" value="${web.view.suffix}"/>
    </bean>

    <mvc:annotation-driven>
        <mvc:argument-resolvers>
            <bean class="cn.tonghao.remex.common.argument.JsonMapperArgumentResolver"/>
        </mvc:argument-resolvers>
        <mvc:return-value-handlers>
            <bean class="cn.tonghao.remex.common.method.ResponseJsonMethodProcessor">
                <property name="messageConverter">
                    <bean class="cn.tonghao.remex.common.util.Base64JsonHttpMessageConverter"/>
                </property>
                <property name="beanWrappers">
                    <list>
                        <bean class="cn.tonghao.remex.common.method.impl.ResponseWrapper"/>
                        <bean class="cn.tonghao.remex.common.method.impl.DefaultBeanWrapper"/>
                    </list>
                </property>
            </bean>
        </mvc:return-value-handlers>
    </mvc:annotation-driven>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="${web.maxUploadSize}"/>
    </bean>
	

</beans>