<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jms="http://www.springframework.org/schema/jms"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd">

    <!-- broker -->
    <bean id="commonFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL"
                  value="failover://(${amq.broker.address})?randomize=false&amp;jms.useAsyncSend=true&amp;jms.prefetchPolicy.queuePrefetch=1" />
    </bean>

    <!-- 生产者连接池 -->
    <bean id="sendConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="commonFactory"/>
        <property name="maximumActiveSessionPerConnection" value="1"/>
    </bean>

    <!--消费者连接池-->
    <bean id="receiveConnectionFactory" class="org.apache.activemq.pool.PooledConnectionFactory">
        <property name="connectionFactory" ref="commonFactory"/>
    </bean>



    <!--生产者发送消息操作模板-->
    <bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="sendConnectionFactory"/>
        <property name="defaultDestinationName" value="subject"/>
        <property name="deliveryPersistent" value="true"/>
        <!--消费者使用jmsTemplate同步接收消息时生效
        <property name="receiveTimeout" value="0"/>-->
        <property name="pubSubDomain" value="false"/>
        <property name="sessionAcknowledgeMode" value="2"/>
        <property name="explicitQosEnabled" value="true"/>
        <property name="timeToLive" value="604800000"/>
    </bean>

    <bean id="testConsumer" class="cn.tonghao.remex.business.test.mq.TestJMSConsumer"/>

    <!--消费者异步消费监听容器-->
    <jms:listener-container connection-factory="receiveConnectionFactory" destination-type="queue"
                            concurrency="2-20" acknowledge="client">
        <!--增加测试的消费者-->
        <jms:listener destination="${mq.queue.testName}" ref="testConsumer" method="onMessage" />
    </jms:listener-container>

</beans>